/* common shared styles */
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}

.nav-title>span {
    color: orangered;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #474747;
    margin-right: 50px;
}

nav button:hover {
    background-color: #b85208;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border: none;
    background: #FD6E0A;
    outline: none;
    padding: 15px 35px;
    color: white;
    cursor: pointer;
}

/* header related styles */

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    /*height: 100vh; */
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic {
    width: 500px;
}

.banner .rotated-img {
    width: 50px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
}

.banner-content {
    max-width: 500px;
}


/* main section styles */

/* about section styles */
.about-section {
    padding: 130px;
    border-radius: 10px;
    background: #fff8f3;
    margin: 130px 0;
}

